$violet-dark: #7033AC;
$violet-light: #C998FB;
$violet-ultra-light: #EBD1FF;
$violet-pink: #F8EFFF;
$violet: #A65CF0;
$orange-dark: #BB370E;
$orange-light: #FFBD59;
$orange-ultra-light: #FFF5D1;
$orange: #FF862F;
$grey: #999;
$grey-light:#EAEAEA;
$grey-ultra-light:#F6F6F6;
$grey-dark:#666;
$black:#333;
$article-width: 296px;
$article-gap: 32px;
$gold: #D5B986;
$article-width: 296px;
$article-gap-320: 16px;
$green:#B8EC64;
$input-pl:18px;
$red:#FF6972;
$lime: #DAFFD1;
$bone: #FFF5D1;
$bone: #FFF5D1;
