@import "_variables.scss";

.coop {

  &__container {
    padding: 0 40px;
  }

  &__list {
    max-width: 831px;
  }

  &__title {
    margin: 33px 0;
  }

  &__subtitle {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 12px;
  }

  &__sublist-item {
    margin-bottom: 12px;
  }

  &__text {
    font-size: 16px;
    line-height: 180%;
    color: $grey-dark;
  }

  &__you-get-list {
    max-width: 624px;
  }

  &__you-get-list &__text {
    line-height: 150%;
  }

  &__you-get-list &__sublist-item {
    padding-left: 37px;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: left top;

    &:nth-child(1) {
      background-image: url(../images/network.svg);
    }

    &:nth-child(2) {
      background-image: url(../images/briefcase.svg);
    }

    &:nth-child(3) {
      background-image: url(../images/git-pull-request.svg);
    }
  }

  &__item {
    margin-bottom: 31px;
  }

  &__possibility-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $orange;
    margin-bottom: 12px;
  }

  &__guarantees-list,
  &__possibility-list {
    counter-reset: my-counter;
  }

  &__guarantees-item {
    position: relative;
    padding-left: 26px;
    margin-bottom: 13px;
  }

  &__possibility-item {
    position: relative;
    padding-top: 35px;
  }

  &__guarantees-item::before,
  &__possibility-item::before {
    position: absolute;
    top: 0;
    left: 0;
    counter-increment: my-counter;
    font-weight: 600;
    font-size: 16px;
    line-height: 180%;
    color: $orange;
  }

  &__possibility-item::before {
    content: 'Возможность ' counter(my-counter) ':';
  }

  &__guarantees-item::before  {
    content: counter(my-counter) '.';
  }

  &__warranty-period-info {
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 150%;
    padding-left: 110px;
    max-width: 624px;
    min-height: 116px;
    background-image: url(../images/pen.webp);
    background-repeat: no-repeat;
    background-size: 77px 116px;
    background-position: left center;
    margin-top: 35px;
    margin-bottom: 70px;
  }
}

@media(max-width: 1349px) {

  .coop {
    &__container {
      padding: 0 35px;
    }
  }
}

@media(max-width:970px) {

  .coop {
    &__container {
      padding: 0 72px;
    }
  }
}


@media(max-width: 560px) {
  .coop {

    &__container {
      padding: 0 12px;
    }

    &__title {
      margin: 31px 0;
    }

    &__subtitle {
      font-size: 16px;
      line-height: 22px;
    }

    &__possibilities-list-title {
      font-size: 14px;
    }

    &__possibility-item {
      padding-top: 31px;
    }

    &__text {
      font-size: 14px;
    }

    &__possibility-item::before {
      top: -5px;
    }

    &__guarantees-item {
      margin-bottom: 9px;
    }

    &__warranty-period-info {
      font-size: 16px;
      line-height: 150%;
      background-size: 36px 54px;
      margin-top: 0;
      margin-bottom: 48px;
      padding-left: 52px;
    }
  }
}
